:root {
	--container-width: 1440px;
	--container-padding-x: 15px;
	--color-green: #19350C;
	--color-yellow: #D7A958;
	--color-blue:#1e2e42;
	--transition : all 0.25s ease-in-out;
	--transition_2 : all 0.2s linear;
	--font : "Montserrat";
}